<div class="main_getRoute">
	<h2 ng-if"!places">Directions to ClickTime</h2>
	<form ng-hide="ways">
		<h4 for="start" ng-hide="started">Where are you leaving from?</h4>
		<input id="start" ng-model = "info.start" type="text" ng-hide="started" ng-blur="started = !started">
		<p ng-click="started = !started" ng-show="started">Starting Address: <span ng-bind="info.start"></span></p>
		<h4 for="mode" ng-hide="moded"> Type of transit </h4>
		<select id="mode" ng-model = "info.mode" ng-hide="moded" ng-blur="moded = !moded" ng-change='route.calcRoute(info.mode)'>
			<option ng-value="WALKING" ng-selected="info.mode">WALKING</option>
			<option ng-value="BICYCLING">BICYCLING</option>
			<option ng-value="TRANSIT">TRANSIT</option>
		</select>
		<p ng-click="moded = !moded" ng-show="moded">Mode of Transportation: <span ng-bind="info.mode"></span></p>
		<h4 ng-hide="ways">Do you need to stop anywhere?</h4>
		<label ng-hide="ways" for="wayPointOne">First Stop:</label>
		<input ng-hide="ways" id="wayPointOne" class="controls" type="text" ng-model="info.way1" ng-blur='route.wayPts(info.way1)'>
		<label ng-hide="ways" for="wayPointTwo">Second Stop:</label>
		<input ng-hide="ways" type="text" id="wayPointTwo" ng-model = "info.way2" ng-blur='route.wayPts(info.way2)'>
		<label ng-hide="ways" for="wayPointThree">Third Stop:</label>
		<input ng-hide="ways" type="text" id="wayPointThree" ng-model = "info.way3" ng-blur='route.wayPts(info.way3)'>
		<button ng-click="route.wholeRoute()" ng-mouseup="ways = !ways">Get Directions!</button>
	</form>
	<div class="directions" ng-show="ways">
		<div ng-repeat="direction in directions">
			<div ng-repeat="step in direction.steps">
				<p ng-bind-html="route.renderHtml( step.instructions )"></p>
			</div>
			<div class="place">
				<h4>{{direction.place.name}}</h4>
				<p>{{direction.place.formatted_address}}</p>
				<p>{{direction.place.rating}}</p>
			</div>
		</div>
		<div ng-repeat="trdirection in transitdirections">
			<div ng-repeat="step in trdirection.steps">
				<p ng-bind-html="route.renderHtml( step.instructions )"></p>
			</div>
		</div>
		<p>You have arrived at <img src="http://www.clicktime.com/images/clicktime-logo-transparent-212x30.png"></p>
	</div>

	
</div>
	<!-- ng-blur='route.codeAddress(info.start)' -->