h4, label, p {
  display: block;
  margin-top: 25px;
  text-align: left;
  margin-left: 30px;
}
input[type="text"], select {
  box-shadow: rgb(136, 136, 136) 2px 2px 5px;
  width: 90%;
  margin-top: 10px;
  padding: 10px;
}
button {
  display: block;
  margin: 35px 0px;
  width: 250px;
  height: 40px;
  background-color: rgb(234, 96, 96);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}
.main_container {
  margin: 0px auto;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 30%;
}
.main_getRoute {
  margin-left: auto;
  margin-right: auto;
  margin-top: 85px;
  width: 100%;
  vertical-align: top;
  text-align: center;
}
.main_getRoute > div, button {
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
.map1{
	width: 100%;
}
.map {
  width: 69%;
}
.view{
	display: inline-block;
	vertical-align: top;
}
#map-canvas {
  height: 100vh;
  display: inline-block;
  vertical-align: top;
  margin-top: 0px;
}

/* HEADER
===================== */
header .navbar {
	border-radius: 0;
	background-color: rgb(211, 211, 211);
  	margin-bottom: 0px;
  	/*width: 100%;*/
}
header{
	/*width: 100%;*/
}
header .container{
	/*width: 100%;*/
}

/* ANIMATIONS 
====================== */ 
.spinner {
     animation:spin 1s infinite;
     -webkit-animation:spin 1s infinite;
     -moz-animation:spin 1s infinite;
@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}	

/* NGANIMATE
======================= */
.show-hide-message.ng-hide-remove {
	-webkit-animation:zoomIn 0.3s both ease;
    -moz-animation:zoomIn 0.3s both ease;
    animation:zoomIn 0.3s both ease;
}